<div class="row">
    <div class="col text-justify">
        <div class="card">
            <div class="card-body">
                <p>Hello there! In IT I'm since December’12. I have 4+ years of experience in developing sites.
                    I work as an outsource developer. I have about 35 projects.
                    The ordering customers of one part of the projects were so—called intermediaries and I was asked not to make any copyrights.
                    The other part of works can be considered the prototypes / start up's or private resources.
                    That's why it is difficult to make a juicy portfolio.</p>
                <p>I admire to spend my spare time travelling. I visited many parts of my big country; several times visited the neighbor countries.
                    The Dutch appeared to be hospitable and easy—going. I have a lot of point markers in the world where I wanna be.
                    And I am going to make my dreams true. There is a wonderful ski resort which showed me the way of extreme rest like snowboarding.
                    So, I try to spend several days in winter on the ski trails.</p>
                <p>All these moments are stored in a digital format called photo album.
                    I like to save my life memories in a beautiful picture.</p>
            </div>
        </div>
    </div>
</div>