<div class="row py-2">
  <div class="col">
    <h2>Customer name</h2>
    <div class="row">
      <div class="col-5 align-self-center">
        <label class="m-0"
               for="customerNameFirst">New customer name:</label>
      </div>
      <div class="col">
        <input #customerNameFirst class="form-control" id="customerNameFirst" name="customerNameFirst"/>
      </div>
      <div class="col-2">
        <button (click)="add(customerNameFirst.value); customerNameFirst.value=''" class="btn btn-success">add</button>
      </div>
    </div>
  </div>
</div>
